<h1>Appraising: <%= @venue.name %></h1>

<%= form_for [@venue, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited your wisdom from the tubes:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :venue_id, value: @venue.id %>
  <div>
    <%= f.label :wifi_quality, "Wifi Quality:" %>
    <%= f.select :wifi_quality, options_for_select(@review.generate_options(Review::WIFI_QUALITY_SCALE), @review.wifi_quality), include_blank: true %>
  </div>
  <div>
    <%= f.label :coffee_quality, "Coffee Quality:" %>
    <%= f.select :coffee_quality, options_for_select(@review.generate_options(Review::COFFEE_QUALITY_SCALE), @review.coffee_quality), include_blank: true %>
  </div>
  <div>
    <%= f.label :coffee_price, "Coffee Price:" %>
    <%= f.select :coffee_price, options_for_select(@review.generate_options(Review::COFFEE_PRICE_SCALE), @review.coffee_price), include_blank: true %>
  </div>
  <div>
    <%= f.label :chair_drag_loudness, "Chair Drag Loudness:" %>
    <%= f.select :chair_drag_loudness, options_for_select(@review.generate_options(Review::CHAIR_DRAG_LOUDNESS_SCALE), @review.chair_drag_loudness), include_blank: true %>
  </div>
  <div>
    <%= f.label :outlets_available, "Outlest Available:" %>
    <%= f.select :outlets_available, options_for_select(@review.generate_options(Review::OUTLETS_AVAILABLE_SCALE), @review.outlets_available), include_blank: true %>
  </div>
  <div>
    <%= f.label :temperature, "Temperature:" %>
    <%= f.select :temperature, options_for_select(@review.generate_options(Review::TEMPERATURE_SCALE), @review.temperature), include_blank: true %>
  </div>
  <div>
    <%= f.label :awesome_people, "Any awesome people there?" %><br />
    <%= f.text_area :awesome_people %>
  </div>
  <div>
    <%= f.label :comment, "Anything else you'd like to add?" %><br />
    <%= f.text_area :comment%>
  </div>

  <%= f.submit "Bequeath Judgement" %>
<% end %>
